{#
    INPUT CLASS
#}

{% set fieldClass = 'field' %}
{% if field.form.class is defined %}
    {% set fieldClass = 'field ' ~ field.form.class %}
{% endif %}

{% if field.form.inline == true %}
    {% set fieldClass = fieldClass ~ ' inline' %}
{% endif %}

{% if field.form.readonly %}
    {% set fieldClass = fieldClass ~ ' readonly' %}
{% endif %}

{#
    INPUT TABINDEX
#}

{% set tabindex = 1 %}
{% if field.form.readonly %}
    {% set tabindex = -1 %}
{% endif %}

{#
    INPUT
#}

<div class="{{ fieldClass }}">

    {% if field.label is defined and field.label is not null %}
        <label>{{ field.label }}</label>
    {% endif %}

    <input
        type="number"
        name="{{ field.name }}"
        placeholder="{{ field.label }}"
        value="{{ field.value }}"
        tabindex="{{ tabindex }}"
        {% if field.form.disabled %}disabled="disabled"{% endif %}
    />
</div>
