{% extends "@Template/_View/Show/show.html.twig" %}
{% import "@Template/_Layout/Macro/_common.html.twig" as macros %}

{% block page_header %}

    <div class="ui grid">
        <div class="twelve wide column">
            <h1 class="ui header">
                <i class="rounded sticky {{page.header.icon}} outline icon"></i>
                <div class="content">
                    {{ page.header.title}}

                    <div class="sub header">
                        <a class="ui {{ view.state.color }} large label">
                            <i class="recycle icon"></i>{{ view.state.label|upper }}
                        </a>
                        {{ page.header.description}}
                    </div>
                </div>
            </h1>
        </div>
        <div class="four wide column">
            <div class="ui basic right floated">
                <div class="ui labeled icon top left dropdown button primary">
                    <i class="cogs icon"></i>
                    <span class="text">Actions</span>
                    <div class="menu">
                        <a class="item" href="/order/create">
                            <i class="plus circle icon"></i>
                            Nouvelle commande
                        </a>
                        <a class="item" href="/order">
                            <i class="check circle outline icon"></i>
                            Valider
                        </a>
                        <a class="item" href="/order">
                            <i class="archive icon"></i>
                            Archiver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_content %}
    <div class="ui stackable padded grid">

        <div class="twelve wide column">

            <h2 class="ui header">
                Général
            </h2>
            {% include "@Template/_Component/Order/Content/general.html.twig" %}
            <div class="ui divider"></div>

            <h2 class="ui header">
                Adresses
            </h2>
            {% include "@Template/_Component/Order/Content/addresses.html.twig" %}
            <div class="ui divider"></div>

            <h2 class="ui header">
                Produits
            </h2>
            {% include "@Template/_Component/Order/Content/products.html.twig" %}

        </div>

        <div class="four wide column right aligned">

            {% include "@Template/_Component/Order/Cards/order_totals.html.twig" %}

            {% include "@Template/_Component/Order/Cards/adjustments.html.twig" %}

            {% include "@Template/_Component/Order/Cards/history.html.twig" %}

        </div>

    </div>
{% endblock %}
