{% extends "@Template/Show/index.html.twig" %}
{% import "@Template/Macro/_common.html.twig" as macros %}

{% block stylesheets %}
    {{parent()}}
    <link href="css/invoice.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="js/invoice.js"></script>
{% endblock %}

{% block content %}
  {% block page_header %}
    <div class="ui card fluid raised">
      <h1 class="ui icon header">
        <i class="circular Invoice {{page.header.icon}} icon blue"></i>
        <div class="content">
          Invoice {{view.code.value}}
          <div class="sub header">
            <div class="ui big yellow horizontal label">{{view.status.value}}</div>
          </div>
          <div class="ui stackable three steps">
              <div class="active step" data-name="general">
                  <i class="info icon"></i>
                  <div class="content">
                      <div class="title">General info</div>
                  </div>
              </div>
              <div class="step" data-name="content">
                  <i class="ordered list icon"></i>
                  <div class="content">
                      <div class="title">Content</div>
                  </div>
              </div>
              <div class="step" data-name="adjustments">
                  <i class="percent icon"></i>
                  <div class="content">
                      <div class="title">Adjustments</div>
                  </div>
              </div>
          </div>
        </div>
      </h1>
    </div>
  {% endblock %}
  {% include '@Template/Product/Step/nav.html.twig' %}
  <div class="step content">
    <div class="step active" data-step="general">
      <div class="ui two stackable cards">
        <div class="ui card raised">
          <div class="ui clearing segment with form content">
            <div class="ui header">
              <span>Seller info</span>
            </div>
            <div class="ui divider"></div>
            {{ macros.field_group(view, ['company_name', 'siret', 'address', 'vat_number'], true, false) }}
          </div>
          <div class="content"></div>
        </div>
        <div class="ui card raised">
          <div class="ui clearing segment content">
            <div class="ui header">
              <span>Customer info</span>
            </div>
            <div class="ui divider"></div>
            {{ macros.display_form_group(view, ['customer_firstname', 'customer_lastname', 'address', 'vat_number'], false) }}
          </div>
          <div class="content"></div>
        </div>
      </div>
      <div class="ui fluid card raised">
        <div class="ui clearing segment content">
          <div class="ui header">
            <span>Payment terms</span>
          </div>
          <div class="ui divider"></div>
          {{ macros.display_form_group(view, ['currency', 'tax_rate', 'due_date', 'payment_terms'], false) }}
        </div>
        <div class="content"></div>
      </div>
    </div>
    <div class="step" data-step="content">
      <div class="ui fluid card raised">
        <div class="content">
          <h3 class="ui header">Selection de produits</h3>
        </div>
        <div class="content">
          <div class="ui equal width grid">
              <div class="column">
                  <table class="ui table show data">
                      <thead>
                          <tr>
                              <th>Désignation</th>
                              <th class="right aligned">Prix unitaire</th>
                              <th class="right aligned">Quantité</th>
                              <th class="right aligned">Total HT</th>
                              <th class="right aligned">Total TTC</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <a class="ui blue label">AWE-INC-0256</a>
                                  The awesome and incredible product 256
                              </td>
                              <td class="right aligned">256 €</td>
                              <td class="right aligned">3</td>
                              <td class="right aligned">768 €</td>
                              <td class="right aligned">921.6 €</td>
                          </tr>
                          <tr>
                              <td>
                                  <a class="ui blue label">AWE-INC-1024</a>
                                  The awesome and incredible product 1024
                              </td>
                              <td class="right aligned">1024 €</td>
                              <td class="right aligned">1</td>
                              <td class="right aligned">1024 €</td>
                              <td class="right aligned">1228.8 €</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <th colspan="2"></th>
                              <th class="right aligned">
                                  <b>4</b>
                              </th>
                              <th class="right aligned">
                                  <b>1792 €</b>
                              </th>
                              <th class="right aligned">
                                  <b>2150.4 €</b>
                              </th>
                          </tr>
                      </tfoot>
                  </table>
                  {% include '@Template/Order/Modal/productSelector.html.twig' %}
                  <div class="ui right floated content">
                    <a class="ui button labeled icon green column" data-modal="productSelector">
                        <i class="plus circle icon"></i>
                        Add product
                    </a>
                    <a class="ui button labeled icon blue column" data-modal="productSelector">
                        <i class="arrow up icon"></i>
                        Link order
                    </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step" data-step="adjustments">
      <div class="ui fluid card raised">
        <div class="content">
          <div class="ui header">
              Summary
          </div>
        </div>
        <div class="content">
          <div class="ui equal width grid">
              <div class="column">
                  <table class="ui table show data">
                      <thead>
                          <tr>
                              <th>Désignation</th>
                              <th class="right aligned">Prix unitaire</th>
                              <th class="right aligned">Quantité</th>
                              <th class="right aligned">Total HT</th>
                              <th class="right aligned">Total TTC</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <a class="ui blue label">AWE-INC-0256</a>
                                  The awesome and incredible product 256
                              </td>
                              <td class="right aligned">256 €</td>
                              <td class="right aligned">3</td>
                              <td class="right aligned">768 €</td>
                              <td class="right aligned">921.60 €</td>
                          </tr>
                          <tr>
                              <td>
                                  <a class="ui blue label">AWE-INC-1024</a>
                                  The awesome and incredible product 1024
                              </td>
                              <td class="right aligned">1024 €</td>
                              <td class="right aligned">1</td>
                              <td class="right aligned">1024 €</td>
                              <td class="right aligned">1228.80 €</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <th colspan="2"><strong>Total produits</strong></th>
                              <th class="right aligned">
                                  <b>4</b>
                              </th>
                              <th class="right aligned">
                                  <b>1792 €</b>
                              </th>
                              <th class="right aligned">
                                  <b>2150.40 €</b>
                              </th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          <div class="ui equal width grid">
              <div class="column">
                  <table class="ui table show data">
                      <thead>
                          <tr>
                              <th>Désignation</th>
                              <th class="right aligned">Quantité</th>
                              <th class="right aligned">Prix unitaire</th>
                              <th class="right aligned">Réduction</th>
                              <th class="right aligned">Total HT</th>
                              <th class="right aligned">Total TTC</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <a class="ui yellow label">Adjustment</a>
                                  Winter sales
                              </td>
                              <td class="right aligned">1</td>
                              <td class="right aligned"></td>
                              <td class="right aligned">-20 %</td>
                              <td class="right aligned">-132 €</td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <th colspan="2"><strong>Total après ajustements</strong></th>
                            <th class="right aligned"></th>
                            <th class="right aligned"></th>
                            <th class="right aligned">
                                <b>1660 €</b>
                            </th>
                            <th class="right aligned">
                                <b>2018,40 €</b>
                            </th>
                        </tr>
                      </tfoot>
                  </table>
                  <div class="ui right floated content">
                    <a class="ui button labeled icon green column" data-modal="new-adjustment">
                        <i class="plus circle icon"></i>
                        Add adjustment
                    </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned basic segment">
          <a class="ui positive icon button" href="/order">
              Create invoice
              <i class="large icons">
                  <i class="tasks icon"></i>
                  <i class="bottom right corner add icon green"></i>
              </i>
          </a>
      </div>
    </div>
  </div>
  <div class="ui modal" data-modal="new-adjustment">
      <i class="close icon"></i>
      <div class="header">
        New adjustment
      </div>
      <div class="content">
        <form class="ui form">
          <div class="fields">
            <div class="field">
              <label>Description</label>
              <input placeholder="Winter sales" type="text">
            </div>
            <div class="field">
              <label>Value</label>
              <div class="ui right labeled input">
                <input placeholder="20" type="number">
                <div class="ui dropdown label">
                  <div class="text">%</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">euros</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Type</label>
              <select class="ui dropdown">
                <option value="">Positive</option>
                <option value="1">Negative</option>
                <option value="0">Neutral</option>
              </select>
            </div>
         </div>
        </form>
      </div>
      <div class="actions">
          <div class="ui negative deny button">
              Cancel
          </div>
          <div class="ui positive right labeled icon button">
              Confirm
              <i class="checkmark icon"></i>
          </div>
      </div>
  </div>
  {% include '@Template/Product/Step/nav.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="/js/steps.js"></script>
{% endblock %}
