{% extends "@Template/_View/Show/show.html.twig" %}


{% block stylesheets %}
    {{parent()}}
    <link href="css/contact-show.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="js/contact-show.js"></script>
{% endblock %}

{% block content %}
  <div class="ui card fluid raised">
    {% block page_header %}
      <h1 class="ui icon header">
        <i class="circular {{page.header.icon}} icon blue"></i>
        <div class="content">
          {{page.header.title}}
          <div class="sub header">
            <p><a class="" href="mailto:sg">{{view.email.value}}</a></p>
            {{view.position.value}}
        </div>
      </h1>
    {% endblock %}
  </div>
  <div id="contact" class="ui container fluid content">
    <div class="ui three stackable cards">
      <div id="contact-notes" class="ui fluid raised card">
        <div class="content">
          <div class="header">
            <h3>Notes</h3>
          </div>
        </div>
        <div class="ui fluid content">
          <div class="ui fluid form">
            <div id="contact-note-field" class="twelve wide inline field">
              <input type="text" class="" placeholder="Add note">
            </div>
            <i id="add-note" class="inverted circular blue add medium icon"></i>
          </div>
          <div id="notes" class="ui middle aligned divided list">
            <div class="item contact-note">
              <div class="right floated content">
                <i class="disabled trash icon remove-note"></i>
              </div>
              <div class="content">
                <p>Back in 2 weeks</p>
                <p class="meta">20/02/18</p>
              </div>
            </div>
            <div class="item contact-note">
              <div class="right floated content">
                <i class="disabled trash icon remove-note"></i>
              </div>
              <div class="content">
                <p>Forgot his pencil</p>
                <p class="meta">17/01/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid raised card">
        <div class="content">
          <div class="header">
            <h3>Phones</h3>
          </div>
        </div>
        <div class="content">
          <div class="ui divided list">
            <div class="item contact-phone">
              <div class="ui right floated">
                <a class="ui right ribbon teal label">Par défaut</a>
              </div>
              <div class="content">
                <div class="header">
                  Mobile
                </div>
                <div class="description">
                  <i class="phone icon"></i>
                  06 32 54 87 45
                </div>
              </div>
            </div>
            <div class="item contact-phone">
              <div class="content">
                <div class="header">
                  Home
                </div>
                <div class="description">
                  <i class="phone icon"></i>
                  02 98 54 87 45
                  <div class="ui right floated label make-default">Par défaut</div>
                </div>
              </div>
            </div>
            <div class="item contact-phone">
              <div class="content">
                <div class="header">
                  Work
                </div>
                <div class="description">
                  <i class="phone icon"></i>
                  02 98 75 45  12
                  <div class="ui right floated label make-default">Par défaut</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui raised card">
        <div class="content">
          <div class="header">
            <h3>Addresses</h3>
          </div>
        </div>
        <div class="content">
          <div class="ui divided list">
            <div class="item contact-address">
              <div class="ui right floated">
                <a class="ui right ribbon teal label">Par défaut</a>
              </div>
              <div class="content">
                <div class="header">
                    Maison
                </div>
                <div class="description">
                    33 rue de la mairie
                    <br>
                    <a>29190 Brasparts</a>
                    <br>
                    <a>France</a>
                </div>
              </div>
            </div>
            <div class="item contact-address">
              <div class="content">
                <div class="header">
                    Office
                </div>
                <div class="description">
                    2 rue fanch le troll
                    <br>
                    <a>29000 Quimper</a>
                    <br>
                    <a>France</a>
                    <div class="ui right floated label make-default">Par défaut</div>
                </div>
              </div>
            </div>
            <div class="item contact-address">
              <div class="content">
                <div class="header">
                    Berlin Office
                </div>
                <div class="description">
                    2 bundestrabe
                    <br>
                    <a>35430 Berlin</a>
                    <br>
                    <a>Germany</a>
                    <div class="ui right floated label make-default">Par défaut</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid raised card">
        <div class="content">
            <div class="header">
                Compte CMB Pro
            </div>
            <div class="description">
                <i class="payment icon"></i>
                <strong>IBAN :</strong>
                FR89 3704 0044 0532 0130 00
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
