{% extends "@Template/Show/index.html.twig" %}
{% import "@Template/Macro/_common.html.twig" as macros %}

{% block page_header %}

    <h1 class="ui center aligned header">
        <div class="ui stackable five steps">
            <div class="active step" data-name="general">
                <i class="tasks icon"></i>
                <div class="content">
                    <div class="title">Général</div>
                    <div class="description">Informations générales</div>
                </div>
            </div>
            <div class="step" data-name="account">
                <i class="user circle icon"></i>
                <div class="content">
                    <div class="title">Compte</div>
                    <div class="description">Choisir le compte client concerné</div>
                </div>
            </div>
            <div class="step" data-name="addresses">
                <i class="envelope open outline icon"></i>
                <div class="content">
                    <div class="title">Adresses</div>
                    <div class="description">Attribuer les adresses</div>
                </div>
            </div>
            <div class="step" data-name="products">
                <i class="cubes icon"></i>
                <div class="content">
                    <div class="title">Produits</div>
                    <div class="description">Assigner des produits</div>
                </div>
            </div>
            <div class="step" data-name="resume">
                <i class="info circle icon"></i>
                <div class="content">
                    <div class="title">Récapitulatif</div>
                    <div class="description">Vérifier les informations</div>
                </div>
            </div>
        </div>
    </h1>

{% endblock %}

{% block page_content %}

    <div class="ui stackable grid">

        <div class="sixteen wide column">

            {% include '@Template/Order/Step/nav.html.twig' %}

            <div class="ui segment">
                <div class="step content">
                    <div class="step active" data-step="general">
                        <div class="ui equal width grid center aligned">
                            <div class="column left aligned">
                                <h3 class="ui header">Informations générales</h3>
                                <div class="ui divider"></div>
                                {{ macros.display_form_group(create, ['source']) }}
                            </div>
                        </div>
                    </div>
                    <div class="step" data-step="account">
                        <div class="ui stackable grid center aligned">
                            <div class="seven wide column left aligned">
                                <h3 class="ui header">Rechercher un compte</h3>
                                <div class="ui divider"></div>
                                <div class="ui fluid">
                                    <div class="ui floating dropdown labeled search icon blue button">
                                        <i class="folder open icon"></i>
                                        <input name="country" type="hidden">
                                        <div class="default text">Rechercher un compte existant</div>
                                        <div class="menu">
                                            <div class="item" data-value="jenny">
                                                <img class="ui mini avatar image" src="/img/jenny.jpg">
                                                <b>Jenny Hess</b>
                                                -
                                                <i>jenny.hess@example.eu</i>
                                            </div>
                                            <div class="item" data-value="elliot">
                                                <img class="ui mini avatar image" src="/img/elliot.jpg">
                                                <b>Elliot Fu</b>
                                                -
                                                <i>elliot.fu@example.eu</i>
                                            </div>
                                            <div class="item" data-value="stevie">
                                                <img class="ui mini avatar image" src="/img/stevie.jpg">
                                                <b>Stevie Feliciano</b>
                                                -
                                                <i>stevie.feliciano@example.eu</i>
                                            </div>
                                            <div class="item" data-value="christian">
                                                <img class="ui mini avatar image" src="/img/christian.jpg">
                                                <b>Christian</b>
                                                -
                                                <i>christian@example.eu</i>
                                            </div>
                                            <div class="item" data-value="matt">
                                                <img class="ui mini avatar image" src="/img/matt.jpg">
                                                <b>Matt</b>
                                                -
                                                <i>matt@example.eu</i>
                                            </div>
                                            <div class="item" data-value="justen">
                                                <img class="ui mini avatar image" src="/img/justen.jpg">
                                                <b>Justen Kitsune</b>
                                                -
                                                <i>justen.kitsune@example.eu</i>
                                            </div>
                                            <div class="item" data-value="justen">
                                                <img class="ui mini avatar image" src="/img/li-logo.png">
                                                <b>Libre-Informatique</b>
                                                -
                                                <i>contact@libre-informatique.fr</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui green button right floated" onclick="$('.ui.button.next.step').trigger('click');">
                                        Choisir
                                    </div>
                                </div>
                            </div>
                            <div class="column center aligned">
                                <div class="ui vertical divider">
                                    ou
                                </div>
                            </div>
                            <div class="seven wide column left aligned">
                                <h3 class="ui header">Nouveau du compte</h3>
                                <div class="ui divider"></div>
                                {{ macros.display_form_group(create, ['account_firstname', 'account_lastname', 'account_email']) }}
                            </div>
                        </div>
                    </div>
                    <div class="step" data-step="addresses">
                        <div class="ui stackable grid center aligned">
                            <div class="seven wide column left aligned">
                                <h3 class="ui header">Adresse de facturation</h3>
                                <div class="ui divider"></div>
                                {{ macros.display_form_group(create, ['invoiceAddress_street','invoiceAddress_postCode', 'invoiceAddress_city']) }}
                            </div>
                            <div class="column center aligned">
                                <div class="ui vertical divider">
                                    et
                                </div>
                            </div>
                            <div class="seven wide column left aligned">
                                <h3 class="ui header">Adresse de livraison</h3>
                                <div class="ui divider"></div>
                                {{ macros.display_form_group(create, ['deliveryAddress_street','deliveryAddress_postCode', 'deliveryAddress_city']) }}
                            </div>
                        </div>
                    </div>
                    <div class="step" data-step="products">

                        <div class="ui equal width grid">
                            <div class="column">
                                <h3 class="ui header">Selection de produits</h3>
                                <div class="ui divider"></div>
                                {% include '@Template/Order/Content/products.html.twig' %}
                            </div>
                        </div>
                    </div>

                    <div class="step" data-step="resume">

                        <div class="ui equal width grid">
                            <div class="column">
                                <h3 class="ui header">Récapitulatif</h3>
                                <div class="ui divider"></div>
                                <div class="ui center aligned basic segment">
                                    <a class="ui positive icon button" href="/order">
                                        Créer la commande
                                        <i class="large icons">
                                            <i class="tasks icon"></i>
                                            <i class="bottom right corner add icon green"></i>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% include '@Template/Order/Step/nav.html.twig' %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="/js/steps.js"></script>
{% endblock %}
