{% extends "@Template/Show/index.html.twig" %}
{% import "@Template/Macro/_common.html.twig" as macros %}

{% block page_header %}

    <h1 class="ui center aligned header">
        <div class="ui stackable three steps">
            <div class="active step" data-name="id">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Identification</div>
                    <div class="description">Définir les informations générales</div>
                </div>
            </div>
            <div class="step" data-name="options">
                <i class="ordered list icon"></i>
                <div class="content">
                    <div class="title">Options</div>
                    <div class="description">Attribuer des options au produit</div>
                </div>
            </div>
            <div class="step" data-name="variants">
                <i class="sitemap icon"></i>
                <div class="content">
                    <div class="title">Variantes</div>
                    <div class="description">Générer les variantes selon les options</div>
                </div>
            </div>
        </div>
    </h1>

{% endblock %}

{% block page_content %}

    <div class="ui stackable grid">

        <div class="sixteen wide column">

            {% include '@Template/Product/Step/nav.html.twig' %}

            <div class="ui segment">
                <div class="step content">
                    <div class="step active" data-step="id">
                        {{ macros.display_form_group(create, ['name', 'description', 'code']) }}
                    </div>
                    <div class="step" data-step="options">
                        {{ macros.display_form_group(create, ['options']) }}
                    </div>
                    <div class="step ui grid" data-step="variants">
                        <div class="seven wide column">
                            {{ macros.display_form_group(create, ['optionsValues_Couleur','optionsValues_Taille']) }}
                        </div>
                        <div class="seven wide column">
                            {{ macros.display_form_group(create, ['optionsValues_Packaging','optionsValues_Pointure']) }}
                        </div>
                        <div class="ui divider"></div>
                        <div class="ui center aligned basic segment">
                            <a class="ui positive icon button" href="/product">
                                <i class="large icons">
                                    <i class="archive icon"></i>
                                    <i class="bottom right corner add icon green"></i>
                                </i>
                                Créer le produit
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include '@Template/Product/Step/nav.html.twig' %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="/js/steps.js"></script>
{% endblock %}
