<div class="ui bottom attached tab segment" data-tab="variants">
    <div class="ui two column stackable grid">
        <div class="sixteen wide column">

            <div class="ui styled fluid accordion exclusive">
                <div class="title active">
                    <i class="dropdown icon"></i>
                    Awesome One - AWE-INC-512-01
                </div>
                <div class="content active">
                    {{ macros.field_group(variants['AWE-INC-512-RED-STD'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Awesome Two - AWE-INC-512-BLU-STD
                </div>
                <div class="content">
                    {{ macros.field_group(variants['AWE-INC-512-BLU-STD'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Awesome Three - AWE-INC-512-YEL-STD
                </div>
                <div class="content">
                    {{ macros.field_group(variants['AWE-INC-512-YEL-STD'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Awesome Four - AWE-INC-512-RED-DLX
                </div>
                <div class="content">
                    {{ macros.field_group(variants['AWE-INC-512-RED-DLX'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Awesome Five - AWE-INC-512-BLU-DLX
                </div>
                <div class="content">
                    {{ macros.field_group(variants['AWE-INC-512-BLU-DLX'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>
            
                <div class="title">
                    <i class="dropdown icon"></i>
                    Awesome Six - AWE-INC-512-YEL-DLX
                </div>
                <div class="content">
                    {{ macros.field_group(variants['AWE-INC-512-YEL-DLX'], ['name', 'code', 'description', 'active', 'price', 'color', 'packaging']) }}
                </div>
            </div>

        </div>
    </div>
</div>
